.searchBarComponent {
  background-color: #23272e;
  padding: 0.325rem 0;
  border-radius: 0.25rem;

  margin: 0.5rem 0;
}

.searchBarInput {
  width: 100%;
  padding: 0 1rem;
  border: 0;

  appearance: none;
  outline: none;

  font-family: "Poppins", sans-serif;

  background: transparent;
  color: white;
}

.buttonComponent {
  background-color: #23272e;
  border: 0;
  appearance: none;
  outline: none;
  color: white;

  font-weight: bold;
  padding: 0.625rem 1.25rem;
  border-radius: 8px;

  cursor: pointer;
  flex-shrink: 0;
}
