.modalWrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);

  position: absolute;
  z-index: 100;
  inset: 0;

  justify-content: center;
  padding-top: 6rem;

  color: #fff;
}

.modalContainer {
  background-color: #282c34;
  height: fit-content;
  width: 80vw;
  padding: 3rem 2rem;
  border-radius: 0.5rem;

  .actionRow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}
