.sidebar {
  max-width: 25%;
  min-width: 20%;
  width: 100%;
  height: 100vh;
  background-color: #23272e;

  padding-top: 1.25rem;
}

.linkContainer {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;

  &:hover {
    background-color: #1f2228;
    cursor: pointer;
  }

  & > .illustration {
    width: 28px;
    height: 28px;
    margin-right: 0.5rem;
  }

  & > .link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.15rem;
  }
}
